.post {

    border-bottom       : 0;

}

.post-content {

    margin-left         : 80px;
    font-family         : sans-serif;

}

.post-text {

    float               : left;

}

.post .post-image {

    float               : left;
    max-width           : 40%;
    margin              : 0 20px 20px 0;

}

.post h2.post-title a {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    color               : #393029;

}
.post h2.post-title {

    margin-bottom       : 0;

}

.post h2.post-title a:hover {

    opacity             : .9;

}

.post-info {

    margin-bottom       : 0;

}

.post-info .post-posted {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    text-transform      : uppercase;
    color               : #393029;

}

.post-icon {

    float               : left;
    width               : 55px;

}

.read-more {

    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    text-transform      : uppercase;
    color               : #393029;

}