.main-footer {

    background          : url(../images/background-footer.png) top center no-repeat #393029;
    background-size     : 100%;
    width               : 100vw;
    height              : 100px;
    color               : #f3ebd1;
    font-family         : 'BrandonGrotesque-Bold', sans-serif;
    padding             : 40px 0 0 0;

}

.main-footer span {

    display             : block;

}