{{ partial "head" . }}

<div class="container clearfix">
    <main role="main" class="content">
        <article class="post">
            {{ partial "article-header" . }}
            {{ .Content}}
            {{ partial "article-share" . }}
        </article>
        <div class="comments">
            <h3>{{ .Site.Data.l10n.comments.comments }}</h3>
            {{ template "_internal/disqus.html" . }}
        </div>
    </main>
    {{ partial "author" . }}
    <aside class="author">
        <a class="btn home" href="{{ .Site.BaseURL }}" title="{{ .Site.Data.l10n.article.back_to_home }}">&laquo; {{ .Site.Data.l10n.article.back_to_home }}</a>
    </aside>
</div>

{{ partial "footer" . }}
