<!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header class="site-header">

    <video autoplay loop poster="images/desktop-background.jpeg">
        <!--
          WCAG general accessibility recommendation is that media such as background video
          play through only once. Loop turned on for the purposes of illustration; if
          removed, the end of the video will fade in the same way created by pressing
          the "Pause" button
        -->
        <source src="video/background-desktop.webm" type="video/webm">
        <source src="video/background-desktop.mp4" type="video/mp4">
    </video>

    {{ partial "newsletter-holder" . }}

</header>
