<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" class="mailchimp-holder">
  <form action="//ninja.us13.list-manage.com/subscribe/post?u=097fe6106fc131c23d9954acb&amp;id=b4d0b6f901" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <div class="headings">
        {{ if .IsPage }}
          <h2>{{ .Site.Data.l10n.mailchimp.label_input_email_first_line }}</h2>
        {{ else }}
          <h1>{{ .Site.Data.l10n.mailchimp.label_input_email_first_line }}</h1>
        {{ end }}
        <label for="mce-EMAIL">{{ .Site.Data.l10n.mailchimp.label_input_email_second_line }}</label>
      </div>
      <div class="form-group">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ .Site.Data.l10n.mailchimp.placeholder_input_email }}" required>
        <input type="submit" value="{{ .Site.Data.l10n.mailchimp.label_input_submit }}" name="subscribe" id="mc-embedded-subscribe" class="button">
        
        <!--
          Real people should not fill this in and expect good
          things - do not remove this or risk form bot signups
        -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_097fe6106fc131c23d9954acb_b4d0b6f901" tabindex="-1" value=""></div>
        <div class="clear"></div>
      </div>
    </div>
  </form>
</div>
<!--End mc_embed_signup-->
