<ul class="social">

    <li>
        <a href="//twitter.com/{{ .Site.Social.twitter }}" class="icon-holder" target="_blank" title="Twitter">
            <img src="{{ .Site.BaseURL }}images/icon-twitter.png" class="icon" alt="Twitter">
        </a>
    </li>

    <li>
        <a href="//facebook.com/{{ .Site.Social.facebook }}" class="icon-holder" target="_blank" title="Facebook">
            <img src="{{ .Site.BaseURL }}images/icon-facebook.png" class="icon" alt="Facebook">
        </a>
    </li>

    <li>
        <a href="//plus.google.com/+{{.Site.Social.gplus}}" class="icon-holder" target="_blank" title="Google+">
            <img src="{{ .Site.BaseURL }}images/icon-google-plus.png" class="icon" alt="Google">
        </a>
    </li>

    <li>
        <a href="//instagram.com/{{ .Site.Social.instagram }}" class="icon-holder" target="_blank" title="Instagram">
            <img src="{{ .Site.BaseURL }}images/icon-instagram.png" class="icon" alt="Instagram">
        </a>
    </li>

    <li>
        <a href="//github.com/{{ .Site.Social.github }}" class="icon-holder" target="_blank" title="Github">
            <img src="{{ .Site.BaseURL }}images/icon-github.png" class="icon" alt="Github">
        </a>
    </li>

</ul>